body{
    font-family: "Lato", sans-serif;
    max-width: 75rem;
    margin: auto;
    height: 100vh;
}

header{
    background-image:url(SharingFood.jpg);
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    height:200px;
    width: 100%;
    margin: auto;
}

main {
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
}

nav {
    border-bottom: 1px solid black;
}

ul.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.navlist li
{
    float: left;
    display: inline;
}

ul.navlist li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navlist li a:hover {
    background-color: #111;
}



/****** Syling for the search part*/
    

/**** Styling for main part */
main {
    border-bottom: 0.5rem solid;
    box-sizing: border-box;
    aside {
        width: 25%;
        min-width: 15%;
        max-width: 30%;
        background-color: #deded8;
    }
    
    section {
        width: 75%;
        min-width: 70%;
        max-width: 85%;
    }
    
}

section, aside {
    padding: 0.5rem;
    box-sizing: border-box;
    min-height: 100%;
}

aside {
    aside {
        width: 25%;
        min-width: 15%;
        max-width: 30%;
        background-color: #deded8;
    }
    
    section {
        width: 75%;
        min-width: 70%;
        max-width: 85%;
    }
    
    background-color: #deded8;
}




/*Styling for search in aside*/
.search{
    display: block;
    width: auto;
    text-align: left;
}

.center {
    .center {
        border: 3px solid green;
        padding: 10px;
        width: 50%;  /* or any percentage you prefer */
        margin: auto;
        text-align: center; /* Ensures text is centered */
    }
    
    border: 3px solid green;
    padding: 10px;
  }

/* Styling for text inputs in the form*/
.textInput {
    display: block;
    width: auto;
    text-align: left;
}

/*Styling with a media query - lecture slide 36*/
    @media screen and (max-width: 700px) {
        aside {
            width: 100%;
            min-width: 100%;
        }
    
        section {
            width: 100%;
            min-width: 100%;
        }
    
        #hiddenSection {
            overflow-wrap: break-word;
        }
    }
    


    #hiddenSection{
        overflow-wrap: break-word;
    }


